    <div class="container">
        
        <div class="menu">
            <strong>MENU</strong>
            <ul>
                <li><a href="/profile">Thông tin cá nhân</a></li>
                <li><a href="/profile/change-pass-customer"> Đổi mật khẩu </a></li>
                <li><a href="#"> Lịch sử đơn hàng </a></li>
            </ul>
        </div>

        <div class="content" >
            <h1> Đổi mật khẩu </h1>
            <%= form_with url: "/profile/change-pass-customer" do |form| %>
            <div class="form-group">
                <%= form.label :'Mật khẩu mới' %>
                <%= form.password_field :password , class: "form-control", placeholder: 'Nhập mật khẩu..', autocomplete: "new-password"%>
                <% @current_user.errors.messages_for(:password).each do |message| %>
                    <div class='text-danger'><%= message %></div>
                <% end %>
              </div>
              
              <div class="form-group">
                <%= form.label :'Nhập lại mật khẩu' %>
                <%= form.password_field :password_confirmation , class: "form-control", placeholder: 'Nhập lại mật khẩu..', autocomplete: "new-password" %>
              </div>
                <% flash.each do |type, msg| %>                                                                                                                                                                                                                                                                                                                 
                    <div class="text-<%= type %>">
                        <%= msg %>
                    </div>
                <% end %>
              <div>
                <%= form.submit :'Cập nhật', class: 'btn btn-primary'%>
              </div>
            <% end %>
        </div>
    </div>

    <style>
        h1{
            padding-top: 10px;
        }

        .container{
            
            margin: 0 auto;
            overflow: hidden;
        }
        strong{
            padding-left: 10px;
        }
        .menu{
            width: 200px;
            float:left;
            
            width: 200px;
            height: 400px;
            
            padding-top: 10px;
            
            background-color: rgb(192, 192, 211);
        }
        h2{
            color: rgb(36, 15, 56);
            padding-top: 10px;
            font-size: 20px;
            }

        .content{
            
            float:left;
            border: 2px;
            padding-left: 20px;
            margin-top: 10px;
            margin-left: 10px;
            width: 650px;
            margin-bottom: 20px;
        }
        .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .menu ul li {
        line-height: 30px;
        }
        .menu ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding-left: 10px;
        font-size: 16px;
        }
            
        .menu ul li a:hover{
        font-weight: bold;
        }

        p{
            font-size: 16px;
            color: black;
        }
        .menu strong{
        font-size: 20px; 
        padding-left: 10px;  
        color: black;      
        }
</style>



