
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="profile.css">
</head>

<body>
    <div class="container">
        
        <div class="menu">
            <strong>MENU</strong>
            <ul>
                <li><a href="/profile">Thông tin cá nhân</a></li>
                <li><a href="/profile/change-pass-customer"> Đổi mật khẩu </a></li>
                <li><a href="#"> Lịch sử đơn hàng </a></li>
            </ul>
        </div>

        <div class="content" >
            <h1> Thông tin khách hàng </h1>
            <div class="card-header">
                <h2>Họ và tên: 
                <%= @current_user.full_name %>
                <%= link_to "Cập nhật", '/profile/editprofile', :class => 'float-right btn btn-secondary'%>
                </h2> 
            </div>
            <div class="card-body" style="background-color:rgb(253, 251, 251);"> 
                <p>
                    Email: <%= @current_user.email %>
                </p>
                <p>
                    Địa chỉ: <%= @current_user.address %>
                </p>
                <p>
                    Số điện thoại: <%= @current_user.phone %>
                </p>
                
            </div>
        </div>
    </div>

</body>
</html>

