<div class='product mt-2'>
    <div class="container">
    <h2 >
        SẢN PHẨM
        <div class='float-right'>
            <%= form_tag '/frontend', method: :get do %>
                <%= text_field_tag "term", params[:term], placeholder: "Tìm kiếm..." %>
                <%= submit_tag "Tìm kiếm" %>
            <% end %>
        </div>  
    </h2>
    <div class='row'>
        <div class='col-3'>
            <div class='card card-filter'>
                <div class='card-header'>
                    <h3>Loại sản phẩm</h3>
                </div>
                <div class='card-body'>
                    <a href="/" ><h5 class='my-2'>Tất cả</h5></a>
                    <% @categories.each do |category| %>
                        <a href="/categories/<%= category.id %>" ><h5 class='my-2'> <%= category.name %></h5></a>
                    <%end%>
                </div>
            </div>
        </div>
        <div class='col'>
            <div class="row g-1">
            <% if @products.length == 0 %>
                <h4>Không tìm thấy sản phẩm</h4>
            <% else %>
                <% @products.each do |product| %>
                    <div class="col-md-4">
                        <a href="/product/<%=product.id%>/detail" >
                            <div class="card p-3 card-product">
                                <div class="text-center"> <%= image_tag product.image, alt: 'Image', class:'product-image'%></div>
                                <% unless product.sell_price.nil?%>
                                    <div class="product-details"> <span class="font-weight-bold d-block lineThrough"><%= product.price %> VND</span>
                                    <span class="font-weight-bold d-block text-danger">Chỉ còn: <%= product.sell_price %> VND</span>
                                <% else %>
                                <div class="product-details"> <span class="font-weight-bold d-block"><%= product.price %> VND</span>
                                <% end %>
                                <span><%= product.name %></span>
                                    <div class="buttons d-flex flex-row">
                                        <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="digg_pagination float-right mt-3">
            <%= will_paginate @products %>
        </div>
        </div>
    </div>
    
       
    </div>
</div>
