<div class="card">
  <div class="card-body">
      <%= form_with model: user do |form| %>
        <div class="form-group">
          <%= form.label :'Email' %>
          <%= form.text_field :email , autofocus: true, class: "form-control", placeholder: 'Nhập email..', autocomplete: "email"%>
          <% @user.errors.messages_for(:email).each do |message| %>
            <div class='text-danger'><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
          <%= form.label :'Mật khẩu' %>
          <%= form.password_field :password , class: "form-control", placeholder: 'Nhập mật khẩu..', autocomplete: "new-password"%>
            <% @user.errors.messages_for(:password).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
        <div class="form-group">
          <%= form.label :'Nhập lại mật khẩu' %>
          <%= form.password_field :password_confirmation , class: "form-control", placeholder: 'Nhập lại mật khẩu..', autocomplete: "new-password" %>
            <% @user.errors.messages_for(:password_confirmation).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
      
        <div class="form-group">
          <%= form.label :'Họ và tên' %>
          <%= form.text_field :full_name , class: "form-control", placeholder: 'Nhập họ và tên..'%>
            <% @user.errors.messages_for(:full_name).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
       
        <div class="form-group">
          <%= form.label :'Số điện thoại (+84)'%>
          <%= form.text_field :phone , class: "form-control", placeholder: 'Nhập số điện thoại..'%>
            <% @user.errors.messages_for(:phone).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
         <div class="form-group">
          <%= form.label :'Địa chỉ' %>
          <%= form.text_field :address , class: "form-control", placeholder: 'Nhập địa chỉ..'%>
            <% @user.errors.messages_for(:address).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
        <div>
          <%= form.submit :Thêm, class: 'btn btn-primary'%>
        </div>
      <% end %>
  </div>
</div>