<div class="card">
  <div class='card-header'>Đổi mật khẩu <b><%= @user.full_name %></b></div>
  <div class="card-body">
      <%= form_with url: "/admin/users/#{@user.id}/change-password" do |form| %>
        <div class="form-group">
          <%= form.label :'Mật khẩu mới' %>
          <%= form.password_field :password , class: "form-control", placeholder: 'Nhập mật khẩu..'%>
            <% @user.errors.messages_for(:password).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
        
        <div class="form-group">
          <%= form.label :'Nhập lại mật khẩu' %>
          <%= form.password_field :password_confirmation , class: "form-control", placeholder: 'Nhập lại mật khẩu..' %>
            <% @user.errors.messages_for(:password_confirmation).each do |message| %>
                <div class='text-danger'><%= message %></div>
            <% end %>
        </div>
        <div>
          <%= form.submit :'Cập nhật', class: 'btn btn-primary'%>
        </div>
      <% end %>
  </div>
</div>