<div class='mx-4'>
    <h4>DANH SÁCH KHÁCH HÀNG
        <div class='float-right'>
            <%= form_tag '/admin/customers', method: :get do %>
                <%= text_field_tag "term", params[:term], placeholder: "Tìm kiếm..." %>
                <%= submit_tag "Tìm kiếm" %>
            <% end %>
        </div>
    </h4>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Email</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                  <% if @customers.length == 0%>
                        <tr><td colspan="5" class="text-center">Trống</td></tr>
                    <% else %>
                    <% @customers.each do |customer| %>
                            <tr>
                                <td><%= customer.id%></td>
                                <td><%= link_to customer.email, user_path(customer.id) %></td>
                                <td><%= customer.full_name %></td>
                                <td><%= customer.phone%></td>
                                <td class="text-center"> <%= link_to "Xoá", user_path(customer.id), method: :delete,
                                        data: { confirm: "Xác nhận xoá thể loại ?" } , class: 'btn btn-secondary'%></td>
                            </tr>
                            <% end %>
                    <% end %>
                </tbody>
            </table>
            <div class="digg_pagination float-right mt-3">
                <%= will_paginate @customers  %>
            </div>
        </div>
    </div>
</div>