<div class='card'>
    <div class='card-header'>Thông tin của <b><%= @user.full_name %></b></div>
    <div class='card-body'>
        <p>Email: <%= @user.email %></p>
        <p>Số điện thoại: <%= @user.phone %></p>
        <p>Địa chỉ: <%= @user.address %></p>
        <p>Ngày nhận việc: <%= @user.created_at.strftime("%Y-%m-%d") %></p>
    </div>
</div>