<div class='mx-4'>
    <h4>DANH SÁCH ĐƠN HÀNG
    </h4>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã Đơn</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Tổng Số Sản Phẩm</th>
                        <th scope="col">Thành Tiền</th>
                        <th scope="col">Ngày mua</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                            <tr>
                                <td><%= order.id%></td>
                                <td><%= order.user.full_name%></td>
                                <td><%= order.quantity%></td>
                                <td><%= order.total_price%></td>
                                <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
                                <td>Đã Duyệt</td>
                                <td><%= link_to 'Chi tiết', order , :class=> 'btn btn-brand'%></td>
                            </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>