<div class='mx-4'>
    <h4>DANH SÁCH ĐƠN HÀNG CHƯA DUYỆT
    </h4>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã Đơn</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Tổng Số Sản Phẩm</th>
                        <th scope="col">Thành Tiền</th>
                        <th scope="col">Ngày mua</th>
                        <th scope="col">Trạng Thái</th>
                        <th colspan="2" class='text-center'>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @orders.length == 0 %>
                    <tr><td class='text-center' colspan="7">Hiện tại không có hóa đơn chưa được duyệt</td></tr>
                    <%else%>
                    <% @orders.each do |order| %>
                            <tr>
                                <td><%= order.id%></td>
                                <td><%= order.user.full_name%></td>
                                <td><%= order.quantity%></td>
                                <td><%= number_to_currency(order.total_price, unit: "vn₫",format: "%n %u")%></td>
                                <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
                                <td>Chưa Duyệt</td>
                                <td><%= link_to 'Chi tiết', order , :class => 'btn btn-brand'%></td>
                                <td><%= link_to 'Duyệt', "/admin/approve/#{order.id}", :class => 'btn btn-secondary'%></td>
                            </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
             <div class="digg_pagination float-right mt-3">
                <%= will_paginate @orders  %>
            </div>
        </div>
    </div>
</div>