<div class="container bg-white rounded-top mt-5" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12 pt-3">
            <div class="d-flex flex-column pt-4">
                <div>
                    <h5 class="text-uppercase font-weight-normal"><b>Giỏ hàng của Bạn</b></h5>
                    <div>
                        <%= button_to "Xóa giỏ hàng", cart_path,class: 'btn btn-sm bg-light px-lg-4 px-3', method: :delete, data: {confirm: "Bạn có muốn xóa giỏ hàng?"} %>
                    </div> 
                </div>
            </div>
        <table class="table table-borderless">
            <thead class="thead-dark">
            <tr>
                <th> </th>
                <th>Sản phẩm</th>
                <th>Giá tiền </th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <% if @cart.order_details.length == 0 %>
                <tr>
                    <td colspan="6" class="text-center">Giỏ hàng trống</td>
                </tr>
            <% else %>
            <% @cart.order_details.each do |f| %>
            <tr>
                <td>
                    <%= image_tag f.product.image, alt: 'Image', class:'product-image'%>
                </td>
                <td><h6><%= f.product.name%></h6></td>
                <td><b><%= number_to_currency(f.product.price, unit: "vn₫",format: "%n %u")%></b></td>
                <td> 
                    <div class="btn-group"> 
                        <%= button_to "-", order_detail_reduce_path(:id => f),class: 'cart-btn-quantity', method: :post %>
                            <span class="px-md-3 px-1">
                                <%= f.quantity%>
                            </span>
                         <%= button_to "+", order_detail_add_path(:id => f),class: 'cart-btn-quantity', method: :post %>
                    </div>
                </td>
                 <td><%= number_to_currency(f.total_price, unit:"vn₫",format: "%n %u")%></b></td>
                <td>
                    <%= button_to "Xóa", order_detail_path(:id => f),class: 'btn btn-outline-danger btn-xs', method: :delete %>
                </td>
            </tr>
        <% end%>
        <% end%>
            </tbody>
        </table>
        </div> 
</div>
<div class="container bg-light rounded-bottom py-4" style="margin-bottom:50px;" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div> 
                <%= button_to "Tiếp tục mua hàng" , frontend_index_path, class: 'btn btn-sm bg-light border border-dark'%>
                 </div>
                <div class="px-md-0 px-1" id="footer-font"> <b class="pl-md-4">Tiền hàng:<span class="pl-md-4"><%= number_to_currency(@cart.sub_total, unit: "vn₫",format: "%n %u")%></span></b> </div>
                <div> <button class="btn btn-sm bg-dark text-white px-lg-5 px-3">Đặt hàng</button> </div>
            </div>
        </div>
    </div>
</div>