<div class='mx-4'>
    <h4>DANH SÁCH SẢN PHẨM
    </h4>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-hove0r">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope='col'>Số lượng</th>
                        <th scope='col'>Giá</th>
                        <th scope="col">Trạng thái</th>
                        <th colspan="2" class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each do |product| %>
                    <tr>
                        <td><%= product.id%></td>
                        <td><%= link_to product.name, product_path(product.id) %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td><%= product.status === true ? 'Hiện': 'Ẩn'%></td>
                        <td class="text-center"><%= link_to "Sửa",  edit_product_path(product.id), class: 'btn btn-brand'%></td>
                        <td class="text-center"> <%= link_to "Xoá", product_path(product.id), method: :delete,
                                data: { confirm: "Xác nhận xoá thể loại ?" } , class: 'btn btn-secondary'%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>